<!-- <div class="wrap">
    <div class="col-1">
        <div class="input-group">
            <label for="color">PANTONE# </label>
            <input id="color" #color type="text" (click)="$event.target.select()" (focus)="$event.target.select()" (change)="getColor(color.value)">
        </div>
        <div class="input-group-radio">
            <label for="c" (click)="changeColorCoated()"> <input id="c" type="radio" name="type" checked="checked" value="C">  Coated </label> <br>
            <label for="u" (click)="changeColorUncoated()">  <input id="u" type="radio" name="type" value="U"> Uncoated </label><br>
        </div>

    </div>
    <div class="div">

        <div *ngFor="let color of colors; index as i" class="swatch" [style.background-color]="'rgb('+ color.rgb +')'">
            <div class="swatch-close-btn" (click)="removeSwatch(i)"> x </div>
            <div class="swatch-label">
                <p>PANTONE <br> {{color.Name}}</p>
            </div>
        </div>

    </div>
</div> -->
<h2>Front</h2>
<lib-pantone-picker [label]="'front'"></lib-pantone-picker>
<h2>Back</h2>
<lib-pantone-picker [label]="'back'"></lib-pantone-picker>