<h2>QRCODE</h2>
<lib-qrcode-make [message]="'http://grafx2print.com'" (image)="getImage($event)"> </lib-qrcode-make>

<h2>Front</h2>
<lib-pantone-picker [label]="'front'" (selectColorList)="colorListSelected($event)"></lib-pantone-picker>

<h2>Back</h2>
<lib-pantone-picker [label]="'back'" (selectColorList)="colorListSelected($event)"></lib-pantone-picker>

<h2>Binding</h2>
<lib-binding-picker></lib-binding-picker>

<h2>Fold</h2>
<lib-fold-picker></lib-fold-picker>

<h2>Envelope</h2>
<lib-envelope-picker></lib-envelope-picker>